<head>
    <title>Shopping Cart</title>
    <meta name="description" content="This is the description">
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <script src="/javascripts/cartCode.js" async></script>
    <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous">
    </script>
</head>

<body class="cartPageBody">
    <header class="main-header">
        <h1 class="store-name store-name-large">Game Gods</h1>
    </header>

    <div class="button_container">
        <button class="home_button" type="button">home</button>
    </div>

    <section class="container content-section">
        <h2 class="section-header-cart">SHOPPING CART</h2>
        <div class="cart-row">
            <span class="cart-item cart-header cart-column">ITEM</span>
            <span class="cart-price cart-header cart-column">PRICE</span>
            <span class="cart-quantity cart-header cart-column">QUANTITY</span>
        </div>
        <div class="cart-items">
        </div>
        <div class="temp">
            <div class="cart-total">
                <strong class="cart-total-title">Total</strong>
                <span class="cart-total-price">$0</span>
            </div>
        </div>    
        <button class="btn btn-primary btn-purchase" type="button">CHECKOUT</button>
    </section>

    <footer class="main-footer">
        <div class="container main-footer-container">
            <h3 class="store-name">GG</h3>
        </div>
        <div class="container sub-footer-container">
            <span class="disclaimer"> Disclaimer: This is not a real website. </span>
        </div>
    </footer>
</body>
