<head>
    <title>Product Page</title>
    <meta name="description" content="This is the description">
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <script src="/javascripts/productPageCode.js" async></script>
    <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous">
    </script>
</head>

<body>
    <header class="main-header">
        <h1 class="store-name store-name-large">Game Gods</h1>
    </header>

    <div class="button_container">
        <button class="home_button" type="button">home</button>
        <button class="cart_button" type="button">cart</button>
    </div>

    <section class="container content-section">
            <h2 class="section-header">Product Details</h2>
            <div class="shop-items">
                <div class="shop-item">
                    <span class="shop-item-title"></span>
                    <img class="shop-item-image" src="">
                    <div class="shop-item-details">
                        <span class="shop-item-quantity"></span>
                        <span class="shop-item-price"></span>
                        <label class="cart-quantity-input-label">Quantity: </label>
                        <input class="cart-quantity-input" type="number" value="1">
                        <button class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>
                    </div>
                </div>
            </div>
            <div class="shop-item-description-container">
                <h1 class="shop-item-description-title">Description</h1>
                <p class="shop-item-description"></p>
            </div>
    </section>


    <footer class="main-footer">
        <div class="container main-footer-container">
            <h3 class="store-name">GG</h3>
        </div>
        <div class="container sub-footer-container">
            <span class="disclaimer"> Disclaimer: This is not a real website. </span>
        </div>
    </footer>
</body>